/*box sizing appliqué à tous les éléments*/
*{
    box-sizing: border-box;
    font-family:'raleway', monospace,  sans-serif;;
}

/*reset/
 * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	scroll-behavior: smooth;
	text-decoration: none;
} */
/* header nav+++++++++++++++++ */


.logohead{
    max-height: 58px;
    margin-top: 15px;
    /* margin-inline-start: auto; */
    margin-left: 50px;
    padding-top: 1em;
}

img{
    object-fit: cover;
}
 .nav-hebergements{
    border-top: solid;
    
}
header {
    
    max-width: 1920px;
    max-height: 91px;
    margin: auto;
    height: 120px;
  }
  
  header a{
      color: rgb(61,101,252);
  }

nav {
    display: flex;
    margin-right: 30px;
    justify-content: space-between;
}
/*Main******************************/
 
main{ 
    max-width: 1440px;
    margin: auto;
    padding: 0 2rem;
    box-sizing: border-box;
}
/*titre de la page */
.titre_dePage h1{
    font-size: 1.67em;
    font-weight: bold;
    margin-block-end: 0;
    margin-block-start: 0.67em;
    

}
main a {
    color: black;
}
/*bloc filtre*/
.bloc_filtre{
    display: flex;
    flex-direction: row;
    /* justify-content; */
    }
    
    .liste_filtres{
    display: flex ;
    flex-direction: row;
    align-items: center;
    
    }

    .bloc_filtre_lien{
    display: inline;
    margin-right: 10px;
    }
    
/*Bloc principal********************/
.bloc_principal{
    border: dotted lightgray;
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    max-width: 1500px;
    
    

   }
   
/*hebergement***********************/

.bloc_hebergement{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: #F2F2F2;
    border-radius: 25px;
    /* max-width: 833px; */
    padding:32px;

}

.bloc_principal_titreSection{
    margin: 10px 10px;
  }


.bloc_hebergement_cartes_all{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
    column-gap: 30px;
    padding: 15px 0;
    
    
}

  .bloc_hebergement_carteCliquable{
    display: flex;
    background: white;
    width: 242px;
    flex-direction: column;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0px 0px 6px 0px #0000002e;
}
    

   .bloc_hebergement_casePhoto{
    height: 100px;
   }
   .bloc_hebergement_photo{
    width: 100%;
    height: inherit;
    object-fit: cover;
    border-top-left-radius: 25px ;
    border-top-right-radius: 25px;
}

   /*populaire***********************/
   .bloc_populaire{
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 400px;
    background: #F2F2F2;
    border-radius: 25px;
    padding: 32px;
    
}

.bloc_populaire_cartes_all{
    width:100%;
    display: flex;
    flex-direction: column;
    border: 5px rgb(80, 37, 23);
    padding: 15px;
    max-height: 619px;
    row-gap: 30px;
}

  .bloc_populaire_carteCliquable{
     
    min-width: 100%;
    background-color: #ffffffff;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgb(225, 225, 225);
    }
   
  

   .bloc_populaire_photo{
    width: 100%;
    height: inherit;
    margin: 0px;
    object-fit: cover;
    border-top-left-radius: 25px ;
    border-top-right-radius: 25px;
    }
     /*bloc secondaire du bas Bloc activit******/
     .bloc_secondaire{
         
        
     }

    .bloc_activites{
        min-width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border:dotted red;
    margin: 20px 20px;
    }

    .bloc_activités_cartes_all{
        display: flex;
    }

    .bloc_activites_carteCliquable{
        background-color: #ffffffff;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px;
        border-radius: 20px;
        box-shadow: 0 0 20px #0000002e;
    }
    
    .bloc_activites_casePhoto{
    height: 262px;

    }

    .bloc_activites_photo{
    width: 100%;
    height: inherit;
    margin: 0px;
    object-fit: cover;
    border-top-left-radius: 25px ;
    border-top-right-radius: 25px;
    }

    nav ul {
    list-style-type: none;
    margin-block-start: 0px;
    display: flex;   
}

label {
     background-color: hsla(180, 6%, 60%, 0.35);
     padding: 4px;
}

nav li {
    margin-right: 68px;
    margin-top: 25px;
    
}

/****footer****/
    .pied_dePage {
        width: 100%;
        margin: 20px 70px 0 0;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        font-size: 20px;
        padding: 50px 50px 100px;
        background-color: #F2F2F2;
    }

    .Pied_dePage_lists{
    
        padding-inline-start: 0%
    }
