
*{/*box sizing appliqué à tous les éléments*/
    box-sizing: border-box;
    font-family:'raleway', monospace,  sans-serif;;
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* header nav+++++++++++++++++ */

nav ul {
    
    margin-block-start: 0px;
    display: flex;  
}

label {
     background-color: hsla(180, 6%, 60%, 0.35);
     padding: 4px;
}

nav li {
    display: flex;
    flex-direction: row;
    padding: 40px;
    
    
}

.logohead{
    max-height: 4rem;
    margin-top: 15px;
    margin-inline-start: 0 ;
    margin-left: 50px;
    padding-top: 1em;
    margin-top: 30px;
}

img{
    object-fit: cover;
}
 /* .nav-hebergements{
    border-top: solid;
    
} */
header {
    height: 120px;
  }
  
  header a{
      color: rgb(61,101,252);
  }

nav {
    display: flex;
    margin-right: 30px;
    justify-content: space-between;
}

.nav_hebergements, .nav_activites{
    padding-top: 52px;
}
/*Main******************************/
 
main{
    margin: auto;
    padding: 0 2rem;
    box-sizing: border-box;
    
}
/*titre de la page ***************/

.page_entiere{
    margin: 0 25px;
}


.titre_dePage h1{
    font-size: 1.5em;
    font-weight: bold;
    margin-block-end: 0;
    margin-block-start: 0.67em;    
}

.titre_dePage p {
    margin-top: 3px;
    font-weight: lighter;
    font-size: 18px;

}

main a {
    color: black;
}
nav a {
    color: black;
}
.nav_activites:hover, .nav_hebergements:hover {
    border-top: solid #3D65FC 2px;
  }
  nav a:hover {
    color:#3D65FC ;
  }

/* Bloc rechercher*****************/

.formulaire{
    display: flex;
    flex-wrap: wrap;
}

.formulaire label{
    background-color: #F2F2F2;
    width: 60px;
    height: 60px;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloc_rechercher label i{
    /* display: flex; */
    color: #000000;
    font-size:1.4em;
    /* height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center; */
    
}

.champ_de_recherche{
        height: 60px;
        min-width: 234px;
        border-right: none;
        border-left: none;
        border-top: 1px solid #F2F2F2;
        border-bottom: 1px solid #F2F2F2  ;
        font-weight: bold;
        padding: 0 20px;
        font-size: 1.1em;
    }
    input::placeholder{  /*Couleur du texte a l'interieur de l'input, ::placerholder est un pseudo élément. (Chercher comment cible l'input de ce bloc plus précisément)*/
        color:black;
        font: bold;
    }

.bouton_rechercher{
    height: 60px;
    min-width: 161px ;
    background-color: #3D65FC;
    color:white;
    font-weight: bold;
    border: none;
    border-radius: 0 15px 15px 0;
    font-size: 1.1em;
    }
    
.bouton_rechercher:hover{
   font-size: large;
   box-shadow: 0px 0px 6px 0px #0000002e;
}
    

/*bloc filtre**********************/
.bloc_filtre{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;
    }

.bloc_filtre_titre{
    font-size: 1.1em;
    padding: 28px 10px 0 7px;
    }


    
.bloc_filtre_liste{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    }
    
.bloc_filtre_genre{
    
    display: flex;
    border: solid 2px #D9D9D9;
    font-weight: bold;
    border-radius: 34px;
    
    }
.bloc_filtre_lien{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 10px;
    
    }
    .bloc_filtre_lien:hover{
        box-shadow: 0px 0px 6px 0px #0000002e;
        border-radius: 34px;
    }
    .bloc_filtre_genre:hover{
        border: none;
  }

            /* fond moins sobre pour hover filtre lien*/
             /* background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
             linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
             linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
           line-height: 10px; */
       
    
    
.bloc_filtre_conteneur_icone{
    background: #DEEBFF;
    padding: 0.7em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    font-size: 1.5em;
    margin: -2px;
    }

    /* Taille icones  */
.bloc_filtre i{
    font-size: 78%;
    }

    .bloc_filtre ul{
        padding-inline-start: 0%;
    }

.bloc_filtre_conteneur_texte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 18px;
    
}


/*Icones dont étoiles pleines*/
.fas{
    color:#3D65FC;
}
/* etoiles vides seulement ( la couleur des étoiles pleines vient est hérité du générique .fas */

.bloc_principal_note_etoileVide{
    color:#D9D9D9
}

/* ligne info avec icone i  */
.bloc_info{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:12px;
}

#icone_info{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    border: solid 2px #D9D9D9;
    border-radius: 50%;
    
}


/*Bloc principal********************/
.bloc_principal{
    display: flex;
    flex-direction: row;
    gap:30px;
    margin: 30px 0 50px 0;
}


/*hebergement***********************/

.bloc_hebergement{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: #F2F2F2;
    border-radius: 25px;
    /* max-width: 833px; */
    padding:32px;
    }

.bloc_principal_titreSection{
    margin: 10px 10px;
    align-items: baseline;
  }


.bloc_hebergement_cartes_all{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
    column-gap: 30px;
    padding: 15px 0;
    
    
}

  .bloc_hebergement_carteCliquable{
        display: flex;
    background: white;
    min-width: 200px;
    flex-direction: column;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0px 0px 6px 0px #0000002e;
    height: 192px;
    width: 29%;
}
    

   .bloc_hebergement_casePhoto{
    height: 100px;
   }
   .bloc_hebergement_photo{
    width: 100%;
    height: inherit;
    object-fit: cover;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px;
}

    .bloc_hebergement_caseTexte{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 8px;
        padding: inherit;
       }

    .bloc_hebergement_titreCarte{
        margin:0;
        padding-top: 3px;
        min-width: 188px;
    }
   
    .bloc_hebergement_prix{
        margin:0;
    }
    



   /*populaire***********************/
   .bloc_populaire{
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 327px;
    background: #F2F2F2;
    border-radius: 25px;
    padding: 32px;
}

.bloc_populaire h2{
    display: flex;
   justify-content: space-between;
}
.fa-chart-line{
    color: black;
   
}

    .bloc_populaire_cartes_all {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    max-height: 619px;
    row-gap: 30px;
}

    .bloc_populaire_carteCliquable{
        min-width: 100%;
        background-color: #ffffffff;
        display: flex;
        flex-direction: row;
        padding: 5px;
        border-radius: 20px;
        box-shadow: 3px 3px 3px rgb(225, 225, 225);
        min-height: 130px;
        max-height: 130px;
}
   
    .bloc_populaire_casePhoto{
        width: 35%;
    height: 100%;
    }

   .bloc_populaire_photo{
    width: 100%;
    height: 100%;
    margin: 0px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    }

    .bloc_populaire_caseTexte{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    margin: 0;
    padding: 10px;
    row-gap: 5px;
    }

    .bloc_populaire_titreCarte{
    margin:0;
    max-width: 185px;
    }
    .bloc_populaire_prix{
        margin: 0 0 20px 0;
    }




     /*bloc secondaire du bas Bloc activités******************************/
     

    .bloc_activites{
        min-width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }


    .bloc_activités_cartes_all{
        min-width: 100%;
        height: 520px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        /* padding-bottom: 40px; */
        column-gap: 26px;
        row-gap: 26px;
    }

    .bloc_activites_carteCliquable{
        background-color: #ffffffff;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        border-radius: 25px;
        box-shadow: 0 0 20px #0000002e;
        width: 22.5%;

    }

    .bloc_activites_casePhoto{
      height: 75%;
    }


    .carte1 .bloc_activites_casePhoto,  .carte4 .bloc_activites_casePhoto{
        height: 87%;
    }

    .carte2 .bloc_activites_casePhoto{
        height: 75%;
    }

    .carte3 .bloc_activites_casePhoto{
        height: 64%;
    }

    .carte5 .bloc_activites_casePhoto{
        height: 71%;
    }

    .carte6 .bloc_activites_casePhoto{
        height: 72%;
    }



    .bloc_activites_photo{
    width: 100%;
    height: 100%;
    margin: 0px;
    object-fit: cover;
    border-top-left-radius: 25px ;
    border-top-right-radius: 25px;

    }

    .bloc_activites_caseTexte{
        /* height: 15%; */
        padding: 15px 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
    
    }

    .bloc_activites_titreCarte{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0px;
        padding-top:5px
    }

.carte_haute{
   height: 95%;
}

.carte2{

height: 50%;

}

.carte3{

height: 33%;
}
.carte5{
height: 42%;

}
.carte6{
    height: 44%;
    
}
/****footer****/
    .pied_dePage {
        width: 100%;
        margin: 20px 70px 0 0;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        font-size: 20px;
        padding: 50px 50px 100px;
        background-color: #F2F2F2;
       display: flex;
       
    }

    .pied_dePage_colones{
        padding-inline-start: 0%;
        gap: 15px;
    }
    
    .pied_dePage a{
        color:black ;
        font-size: 0.8em;
    }

    
    .pied_dePage_colones li{
        height: 33px;
    }
    .footer_col{
        margin-right:50px;
    }

    @media screen and {
        
    }